h1, p {
	font-family: Lato;
}

.reactSelect {
	width: 20em;
	display: inline-block;
	margin: 0 0.25em;
}

.translationList {
	border-top: 1px solid;
}

.translationList > .translation {
	border-bottom: 1px solid;
	padding: 0.5em;
}

.translationTerm {
	display: inline-block;
	width: 18.5em;
}

.translationButtons > * {
	margin-left: 1em;
}

.translationTerm input {
	width: 18em;
}

.rangeWithLabel span {
	display: inline-block;
	min-width: 3em;
	text-align: right;
}

.filterField {
	display: inline-block;
	padding: 0.3em;
	margin: 0.2em;
	border: thin solid gray;
}

.filterField label {
	padding-right: 0.2em;
}

.filterField label::after {
	content: ":";
}

#questionForm {
	border-top: 1px solid;
}

#questionForm > .examQuestion {
	border-bottom: 1px solid;
	padding: 0.5em;
}

#questionForm > .examQuestion > * {
	display: inline;
}

.rightAnswer {
	color: green;
}

.wrongAnswer {
	color: red;
	font-weight: bold;
	display: inline-block;
}