h1, p {
	font-family: Lato;
}

.translationTerm {
	display: inline-block;
	width: 20em;
}

.translationTerm input {
	width: 19em;
}

.rangeWithLabel span {
	display: inline-block;
	min-width: 3em;
	text-align: right;
}

.filterField {
	display: inline-block;
	padding: 0.3em;
	margin: 0.2em;
	border: thin solid gray;
}

.filterField label {
	padding-right: 0.2em;
}

.filterField label::after {
	content: ":";
}